* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	// overscroll-behavior: none;
	&._no-scroll {
		overflow: hidden;
	}
	background-color: $bg-default;
	h1,
	h2,
	h3,
	p {
		color: rgba($text-default, 0.96);
	}
}

main {
	-webkit-perspective: 3500px;
}

section {
	padding: $s*4 0;
	position: relative;
	max-width: 1600px;
	margin: 0 auto;


// ANIMATION STYLE
	opacity: 0;
	transform: translateY(600px);
	transform: rotateX(300deg);
	transform-style: preserve-3d;

	@include respond-to(medium) {
		padding: $s * 5;
	}
	@include respond-to(large) {
		padding: $s * 10;
	}
	&.--max-width {
		max-width: $content-width;
		margin: 0 auto;
	}
}

div.fixed {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 0;
	opacity: 0;
	transition: opacity 400ms ease;
	&._loaded {
		opacity: 0.4;
		@include respond-to(large) {
			opacity: 0.4;
		}
	}
}

.page-wrapper {
	overflow: clip;
}

:host(a#logo) {
	display: none !important;
	opacity: 0 !important;
}
