* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: $bg-default;
	h1,
	h2,
	h3,
	p {
		color: rgba($text-default, .90);
	}
}

main {
}

section {
	&.--max-width {
		max-width: $content-width;
		margin: 0 auto;
	}
	padding: $s*10;
}


