header {
	@include flexbox();
	@include flex-direction(column);
	@include align-items(stretch);
	gap: $s*2;
	@include respond-to(medium) {
		@include flex-direction();
			gap: 0;
	}
	@include respond-to(large) {
		@include flex-direction();
			gap: 0;
	}
	.leading {
		flex: 1;
	}
	.trailing {
		@include flexbox();
		@include flex-direction(column);
		gap: $s*2;
		flex: 1;
	}
}