section.project {
	@include flexbox();
	@include flex-direction(column);
	@include gap(2);
}

.section-img-wrap {
	width: 100%;
	aspect-ratio: 1/1;
	overflow: hidden;

	@include respond-to(medium) {
		border-radius: $s * 2;
		aspect-ratio: 5/4;
	}

	@include respond-to(large) {
		aspect-ratio: 5/3;
	}

	.slide-img-container {
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);
		height: 100%;
	}
	img {
		width: 100%;
		height: auto;
	}
	.your-shop & {
		background-color: $lilac;
	}

	.onepin™ & {
		background-color: $blue;
	}

	.pinterest-tv & {
		background-color: $green;
	}

	.board-use-cases & {
		background-color: $vanilla;
	}

	.lego™ & {
		background-color: $gum;
	}
	&._dont-resize {
		aspect-ratio: 5/3;
	}
}

.project-info-wrap {
	@include flexbox();
	@include flex-direction(column);
	padding: $s*2 $s*2;
	padding-top: 0;
	gap: $s;

	@include respond-to(medium) {
		padding: 0;
	}
	@include respond-to(large) {
		@include flex-direction();
		gap: 0;
	}
	.leading {
		flex: 1;
		@include flexbox();
		@include flex-direction(column);
		@include gap(0.5);
	}
	.trailing {
		flex: 1;
	}
}

.video-wrap {
	width: 100%;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	position: relative;
	height: 100%;
	padding: $s*2;
	margin: 0 auto;
	text-align: center;
	@include respond-to(medium) {
		padding: $s*4;
	}
	@include respond-to(large) {
		padding: $s*10;
	}
	.video-inner-wrap {
		@include flexbox();
		overflow: hidden;
		padding: 0;
		aspect-ratio: 375/812;
		position: relative;
		height: 100%;
		border-radius: 3vw;
		@include respond-to(medium) {
			border-radius: 2.4vw;
		}
		@include respond-to(large) {
			border-radius: 1.75vw;
		}
		box-shadow: 0 0 0 0.5vw rgba(black, 1);
		video {
			height: 100%;
		}
	}
}

