// heading

h1 {
	font-size: 60px;
	@include respond-to(large) {
		font-size: 104px;
	}
	&.--bold {
		font-weight: 600;
		letter-spacing: -2px;
		@include respond-to(large) {
			letter-spacing: -5.2px;
		}
	}
	&.--med {
		font-weight: 500;
		letter-spacing: -0.8px;
	}
}

h2 {
	font-size: 34px;
	&.--bold {
		font-weight: 600;
		letter-spacing: -5.2px;
	}
	&.--med {
		font-weight: 500;
		letter-spacing: -0.8px;
	}
}

h3 {
	font-size: 17px;
	max-width: 800px;
	font-weight: 600;
	@include respond-to(medium) {
		font-size: 24px;
	}
	@include respond-to(large) {
		font-size: 28px;
	}
	&.--bold {
		font-weight: 600;
		letter-spacing: -1px;
	}
	&.--med {
		font-weight: 500;
		font-weight: 600;
		letter-spacing: -.7px;
			@include respond-to(medium) {
		letter-spacing: -1.2px;
		font-weight: 500;
	}
	}
	&.--secondary {
		opacity: 0.6;
	}
}

h1,
h2,
h3 {
	&.--paragraph {
		line-height: 1.6;
		font-weight: 500;
		letter-spacing: -.5px;
				@include respond-to(medium) {
		font-weight: 500;
		letter-spacing: -1.2px;
	}
	}
}

// paragraph

p {
	font-size: 14px;
	max-width: 800px;
	line-height: 1.5;
	font-weight: 500;
	letter-spacing: -0.2px;
	opacity: .6;
	@include respond-to(medium) {
		font-size: 16px;
		opacity: 1;
		letter-spacing: -.7px;
	}
	@include respond-to(large) {
		max-width: 640px;
	}
	&.--secondary {
		font-size: 12px;
	}
	&.--tertiary {
		font-size: 8px;
	}
}
