// heading

h1 {
	font-size: 104px;
	&.--bold {
		font-weight: 600;
		letter-spacing: -5.2px;
	}
	&.--med {
		font-weight: 500;
		letter-spacing: -0.8px;
	}
}

h2 {
	font-size: 34px;
	&.--bold {
		font-weight: 600;
		letter-spacing: -5.2px;
	}
	&.--med {
		font-weight: 500;
		letter-spacing: -0.8px;
	}
}

h3 {
	font-size: 24px;
	max-width: 800px;
	@include respond-to(large) {
		font-size: 28px;
	}
	&.--bold {
		font-weight: 600;
		letter-spacing: -1px;
	}
	&.--med {
		font-weight: 500;
		letter-spacing: -1.2px;
	}
	&.--secondary {
		opacity: .6;
	}
}

h1,
h2,
h3 {
	&.--paragraph {
		line-height: 1.6;
	}
}

// paragraph

p {
	font-size: 19px;
	line-height: 1.5;
	max-width: 800px;
	font-weight: 500;
	@include respond-to(large) {
		max-width: 640px;
	}
	letter-spacing: -0.4px;
	&.--secondary {
		font-size: 12px;
	}
	&.--tertiary {
		font-size: 8px;
	}
}
