// Spacing
$s: 8px;

// Colors · Text

$text-default: rgba(0, 0, 0, 0.9);
$text-secondary: rgba(0, 0, 0, 0.5);
$text-tertiary: rgba(0, 0, 0, 0.3);
$text-brand: #007BE5;


// Colors · Bg

$bg-default: #FFFFFF;
$bg-secondary: #F5F5F5;
$bg-tertiary: #E6E6E6;

// Colors · Borders

$yellow: #FFCD29;
$purple: #9747FF;
$grey: #667799;
$green: #14AE5C;

// Colors · Accents

// Widths

$content-width: 1280px;