// Spacing
$s: 8px;

// Colors · Text

$text-default: #F8FCFD;



// Colors · Bg

$bg-default: #0e1011;

// Colors · Borders



// Colors · Accents

$lilac: #E6D2FF;
$blue: #CAF5FF;
$green: #CEF6D9;
$vanilla: #FFF3D6;
$gum: #FFD6EE;

// Widths

$content-width: 1280px;

