{{ $style := resources.Get "scss/style.scss" | toCSS | minify }}
{{ $jq := resources.Get "js/jquery.min.js" | minify  }}
{{ $jqMove := resources.Get "js/jq-eventmove.js" | minify  }}
{{ $core := resources.Get "js/gsap.min.js" | minify  }}
{{ $ease := resources.Get "js/easepack.min.js" | minify  }}
{{ $split := resources.Get "js/splittext.min.js" | minify  }}
{{ $swiper := resources.Get "js/swiper.js" | minify  }}
{{ $twenty := resources.Get "js/twenty.js" | minify  }}
{{ $mainJs := resources.Get "js/main.js" }}

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hi Ben!</title>

    <link rel="stylesheet" href="{{ $style.Permalink | relURL }}">

    <script src="{{ $jq.Permalink | relURL }}" defer></script>
    <script src="{{ $core.Permalink | relURL }}" defer></script>
    <script src="{{ $ease.Permalink | relURL }}" defer></script>
    <script src="{{ $split.Permalink | relURL }}" defer></script>
    <script src="{{ $swiper.Permalink | relURL }}" defer></script>
    <script src="{{ $jqMove.Permalink | relURL }}" defer></script>
    <script src="{{ $twenty.Permalink | relURL }}" defer></script>
    <script src="{{ $mainJs.Permalink | relURL }}" defer></script>
  </head>
  <body>
    {{ block "page" . }}{{ end }}
  </body>
</html>
