{{ define "page" }}
<div class="page-wrapper">
	<main>
		<section>
		<header>
			<div class="leading">
				<h1 class="--bold">Hi Ben!</h1>
			</div>
			<div class="trailing">
				<h3 class="--med --paragraph">
					I'm stoked about the chance to possibly collaborate! I've
					always wanted to work together, but it just never quite
					lined up before.
				</h3>
				<h3 class="--med --paragraph">
					I think we've only had like three chats back when I was at
					Pinterest! We talked about those crazy expensive Common
					Project sneakers, geeked out over Lego design, and had a
					good laugh about how my memoji is basically my twin! You
					briefly mentioned your cool idea, and I've put together a
					few projects I had a hand in during my time at Pinterest.
				</h3>
				<h3 class="--med --paragraph">
					If you want to see more or have any questions about them,
					just give me a shout. Pardon the rough edges of this site.
				</h3>
				<h3 class="--med --paragraph">Talk soon!</h3>
			</div>
		</header>
		</section>

<section>
<div class="section-img-wrap">

</div>
<div class="project-info-wrap">
	<div class="leading">
	<h3>
		Title
	</h3>
	<br>
	<h3>
		Year
	</h3>

</div>
	<div class="trailing">
		<p>
			Subtitle here
		</p>
	</div>
</div>
</section>

	</main>
</div>
{{ end }}
