{{ define "page" }}
<div class="page-wrapper">
	<main>
		<div class="fixed fade-out-element">
			<script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.457/build/spline-viewer.js"></script>
			<spline-viewer url="https://prod.spline.design/2r0awukVf7xjWGmo/scene.splinecode"></spline-viewer>
		</div>

		<section>
			<header>
				<div class="leading">
					<h1 class="--bold main">Hi Ben✌️</h1>
				</div>
				<div class="trailing">
					<h3 class="--med --paragraph">
						Happy <span class="day">[day]</span> Needless to say, I'm beyond excited for a chance to work together, and can't wait to hear more about your idea!
					</h3>
					<h3 class="--med --paragraph">
						I've put together a few projects I had a hand in during my time at Pinterest. These selections focus on concept visualization / blue sky ideas. If you want to see more or have questions about any of these, I'm more than happy to add more colors. Pardon the rough edges of this site, put this together pretty quickly over the weekend.
					</h3>
					<h3 class="--med --paragraph">Talk soon!</h3>
				</div>
			</header>
		</section>

		{{ range .Site.Data.projects }} {{ $lowercaseTitle := .name | lower |
		replaceRE " " "-" }}
		<section class="project {{ $lowercaseTitle }}">
			{{ if eq .obj "swipe" }}

			<!-- Slider main container -->
			  <div class="swiper section-img-wrap {{ .class }}">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper">
					{{ range .slide }} {{ if eq .type "video" }}
					<!-- Video slide -->
					<div class="swiper-slide">
						<div class="video-wrap">
							<div class="video-inner-wrap">
								<video autoplay muted loop>
									<source
										src="/videos/{{ .url }}"
										type="video/mp4"
									/>
									Your browser does not support the video tag.
								</video>
							</div>
						</div>
					</div>
					{{ else if eq .type "img" }}
					<!-- Image slide -->
					<div class="swiper-slide">
						<div class="slide-img-container">
							<img src="images/{{ .url }}" alt="" />
						</div>
					</div>
					{{ end }} {{ end }}
				</div>
				<!-- If we need scrollbar -->
				<div class="swiper-scrollbar"></div>
			</div>
			{{ else if eq .obj "singleImage" }}
			<div class="section-img-wrap {{ .class }}">
				<img src="images/{{ .url }}" alt="" />
			</div>
			{{ else if eq .obj "beforeAfter" }}
			<div class="section-img-wrap _dont-resize">
				<div id="bf-container" class="twentytwenty-container">
				<img src="images/{{ .urlBefore }}" alt="" />
				<img src="images/{{ .urlAfter }}" alt="" />
				</div>
			</div>
			{{ else if eq .obj "singleVideo" }}
			<div class="section-img-wrap {{ .class }}">
				<div class="video-wrap">
					<div class="video-inner-wrap">
						<video autoplay muted loop>
							<source
								src="/videos/{{ .url }}"
								type="video/mp4"
								/>
								Your browser does not support the video tag.
								</video>
						</div>
				</div>
			</div>
			{{ end }}
<div class="project-info-wrap">
				<div class="leading">
					<h3 class="--med">{{ .name }}</h3>
					<h3 class="--med --secondary">{{ .year }}</h3>
				</div>
				<div class="trailing">
					<p>{{ .caption }}</p>
				</div>
			</div>
		</section>

		{{ end }}


	</main>
</div>
{{ end }}
